stages:
  - test
  - build

variables:
  PROJECT_ROOT: /var/www/html
  WEB_DOCUMENT_ROOT: $PROJECT_ROOT/public
  LOG_STDOUT: $PROJECT_ROOT/var/log/stdout.log
  GIT_STRATEGY: clone
  NPM_CONFIG_CACHE: $PROJECT_ROOT/.cache/npm
  PM2_HOME: $PROJECT_ROOT/.cache/pm2
  COMPOSER_HOME: $PROJECT_ROOT/.cache/composer
  GIT_CLONE_PATH: $CI_BUILDS_DIR/$CI_CONCURRENT_ID/$PLUGIN_NAME
  DOCKWARE_CI: '1'
  APP_ENV: 'dev'
  APP_DEBUG: '0'
  XDEBUG_ENABLED: '0'
  PHP_VERSION: '8.3'
  PLATFORM_BRANCH: '6.6.10.9'
  # things plugins might want to override
  PLUGIN_NAME: 'SgateWebcheckoutSW6'
  PLUGIN_FOLDER: $PROJECT_ROOT/custom/static-plugins/$PLUGIN_NAME
  PLUGIN_COMPOSER: 'shopgate/webcheckout-shopware6'

# Cache libraries in between PR commits
.cache: &cache
  key: $PLUGIN_NAME-$PLATFORM_BRANCH
  policy: pull
  paths:
    - .cache

workflow:
  rules:
    # do not run on push
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_TAG == null'
      when: never
    - when: always

.defaults: &defaults
  image: dockware/shopware:$PLATFORM_BRANCH
  cache:
    <<: *cache
  before_script:
    - cp $CI_PROJECT_DIR/tests/assets/Migration1661693083TokenTestSamples.php $CI_PROJECT_DIR/src/System/Db/Migration/
    - cd $PROJECT_ROOT
    - '[ -d $CI_PROJECT_DIR/.cache ] && mv $CI_PROJECT_DIR/.cache $PROJECT_ROOT/'
    - ln -fs $CI_PROJECT_DIR $PLUGIN_FOLDER
    - make --quiet -C $PROJECT_ROOT/../ xdebug-off
    - composer require --prefer-source --quiet $PLUGIN_COMPOSER:@dev
    - '[ ! -L "vendor/$PLUGIN_COMPOSER" ] && echo "Not symlinked! Pulled from packagist?" && exit 1'
    - bin/console plugin:refresh --quiet
    - bin/console plugin:install --quiet --activate $PLUGIN_NAME
    - bin/console sales-channel:update:domain "$HOSTNAME"
    - bin/console secrets:set APP_SECRET --random=256 --quiet
    - bin/console secrets:set APP_SECRET --random=256 --quiet --local
    - >
      if bin/console debug:container --parameter kernel.plugin_infos --format json | grep -q "$PLUGIN_NAME";
        then echo "$PLUGIN_NAME is active";
        else echo "$PLUGIN_NAME is not active"; exit 1;
      fi

newman:
  <<: *defaults
  stage: test
  cache:
    <<: *cache
    policy: pull-push
  parallel:
    matrix:
      - PLATFORM_BRANCH:
          - 6.6.10.9
          - 6.7.5.1
      - PHP_VERSION:
          - '8.3'
  except:
    - tags
  script:
    - export APP_URL="http://$HOSTNAME"
    - cd $CI_PROJECT_DIR/tests
    - npm install > /dev/null
    - npm run ci -- --env-var="host=$APP_URL"
      --reporter-htmlextra-export="$CI_PROJECT_DIR/postman-report.html"
      --reporter-junitfull-export="$CI_PROJECT_DIR/newman.junit.xml";
    - mv $PROJECT_ROOT/.cache $CI_PROJECT_DIR/
  artifacts:
    when: on_failure
    expire_in: 7 days
    reports:
      junit: newman.junit.xml
    paths:
      - ./postman-report.html

build zip:
  <<: *defaults
  stage: build
  only:
    - tags
  script:
    - cd $CI_PROJECT_DIR
    - cp composer.json composer.json_
    - composer remove --update-no-dev -- shopware/core
    - mv composer.json_ composer.json
    - rm -f composer.lock
    - shopware-cli extension validate $CI_PROJECT_DIR
    - shopware-cli extension zip $CI_PROJECT_DIR --disable-git --release --verbose --output-directory $PROJECT_ROOT
    - mv $PROJECT_ROOT/$PLUGIN_NAME.zip $CI_PROJECT_DIR/
    - '[[ -r $PLUGIN_NAME.zip ]] || (echo "failed to create $PLUGIN_NAME.zip." && exit 1)'
  artifacts:
    name: '${PLUGIN_NAME}'
    expire_in: 1 year
    paths:
      - '${PLUGIN_NAME}.zip'

register package:
  image: curlimages/curl:latest
  services: [ ]
  stage: build
  only:
    - tags
  variables:
    URL: "$CI_SERVER_PROTOCOL://$CI_SERVER_HOST:$CI_SERVER_PORT/api/v4/projects/$CI_PROJECT_ID/packages/composer?job_token=$CI_JOB_TOKEN"
  before_script: [ ]
  script:
    - version=$([[ -z "$CI_COMMIT_TAG" ]] && echo "branch=$CI_COMMIT_REF_NAME" || echo "tag=$CI_COMMIT_TAG")
    - insecure=$([ "$CI_SERVER_PROTOCOL" = "http" ] && echo "--insecure" || echo "")
    - response=$(curl -s -w "\n%{http_code}" $insecure --data $version $URL)
    - code=$(echo "$response" | tail -n 1)
    - body=$(echo "$response" | head -n 1)
    # Output state information
    - if [ $code -eq 201 ]; then
      echo "Package created - Code $code - $body";
      else
      echo "Could not create package - Code $code - $body";
      exit 1;
      fi
