{% if page.extensions.sg_webcheckout_data %}

    {% block sgwebcheckout_account_back_to_address %}

        <a href="{{ path('frontend.account.address.page') }}"
           title="{{ "account.editOrderCancelOrderModalFooterButtonBack"|trans|striptags }}"
           class="btn btn-light sg-webcheckout-nav">
            {{ "account.editOrderCancelOrderModalFooterButtonBack"|trans|sw_sanitize }}
        </a>

    {% endblock %}

{% endif %}
