{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_body_inner %}
    <div class="sg-spinner-wrapper">
        <div class="sg-spinner"></div>
    </div>
    <script type="text/javascript">
        function initPipelineCall() {
            window.SGAppConnector.sendPipelineRequest(
                'shopgate.user.loginUser.v1',
                true,
                {
                    'strategy': 'auth_code',
                    'parameters': {'code': '{{ app.request.attributes.get('sw-sales-channel-context').token }}'}
                },
                function () {
                    window.SGAppConnector.sendAppCommands([
                        {
                            'c': 'broadcastEvent',
                            'p': {'event': 'userLoggedIn'}
                        },
                        {
                            'c': 'broadcastEvent',
                            'p': {'event': 'closeNotification'}
                        },
                        {
                            'c': 'broadcastEvent',
                            'p': {'event': 'closeInAppBrowser', 'parameters': [{'redirectTo': '/cart'}]}
                        }
                    ]);
                    {# window.location.href = '{{ path('frontend.checkout.cart.page') }}'; #}
                },
                []
            );
        }
    </script>
    {% block base_cookie_permission %}
        {# ya, empty #}
    {% endblock %}
{% endblock %}
